{% extends 'base.html' %}

<!--
Displays a page with a form for users to input the title and body text for a diary entry.

Args:
    form: the form object to render. It contains fields for the title and body text.

-->

{% block content %}
    <div class="form-wrapper">
        <h2 class="title">Add a New Entry</h2>
        <form method="POST" action="{{ url_for('create_entry') }}">
            {{ form.csrf_token }}

            <fieldset class="form-field">
                {{ form.title.label }}<br>
                {{ form.title }}
                {% if form.title.errors %}
                    <ul class="errors">
                        {% for error in form.title.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </fieldset>

            <fieldset class="form-field">
                {{ form.body.label }}<br>
                {{ form.body }}
                {% if form.body.errors %}
                    <ul class="errors">
                        {% for error in form.body.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </fieldset>

            <fieldset class="form-field">
                {{ form.mood.label }}<br>
                {% for subfield in form.mood %}
                <tr>
                    <td>{{ subfield | safe }}</td>
                    <td>{{ subfield.label | safe }}</td>
                </tr>
                {% endfor %}
                {% if form.mood.errors %}
                <ul class="errors">
                    {% for error in form.body.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>

            <fieldset class="form-field">
                {{ form.tag1.label}}
                {{ form.tag1 }}
                {{ form.tag2.label}}
                {{ form.tag2 }}
                {{ form.tag3.label}}
                {{ form.tag3 }}
            </fieldset>

            {{ form.submit }}

        </form>
        {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
        {{ ckeditor.config(name='body') }}
    </div>

{% endblock %}