{% extends 'base.html' %}
<!--
Displays a page showing the title, body text, and date created for an entry. It also contains buttons to
edit or delete an entry.

Args:
    entry: the entry object to display
-->

{% block content %}

<h2 style="width: 800px; overflow-wrap: break-word" class="title">{{entry.title}} </h2>
<p> {{entry.mood|safe}} </p>
<div style="width: 800px">
    <div>
        <p style="font-size: 16px" class="mb-4 text-secondary">Created: {{datetime_string}}</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{{ url_for('delete_entry', entry_id=entry.id) }}" class="btn rounded-pill btn-danger" role="button">Delete</a>
            </div>
            <div class="col text-end">
                <a href="{{ url_for('update_entry', entry_id=entry.id) }}" class="btn rounded-pill btn-outline-secondary" role="button">Edit</a>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="card">
        <div class="card-body">
            {{entry.body|safe}}
        </div>
    </div>
    <br>

    <div>
        Tags:&nbsp;
        {% for tag in entry.tags %}
            <a href="#">{{ tag.name }}</a>&nbsp;
        {% endfor %}
    </div>
</div>

{% endblock %}