{% extends 'base.html' %}
<!--
Displays a page showing the title, body text, and date created for an entry. It also contains buttons to
edit or delete an entry.

Args:
    entry: the entry object to display
-->

{% block content %}

<div class="mb-2">
    <h2 style="width: 800px; overflow-wrap: break-word" class="title d-inline">{{entry.title}}</h2>
    <h4 class="d-inline mx-2 align-baseline"> {{entry.mood|safe}} </h4>
</div>


<div style="width: 800px">
    <div>
        <p style="font-size: 16px" class="mb-4 text-secondary">Created: {{datetime_string}}</p>
    </div>

    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col">
                <a href="{{ url_for('update_entry', entry_id=entry.id) }}" class="btn rounded-pill btn-dark" role="button">Edit</a>
            </div>
            <div class="col text-end">
                <a href="{{ url_for('delete_entry', entry_id=entry.id) }}" class="btn rounded-pill btn-outline-danger" role="button">Delete</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {{entry.body|safe}}
        </div>
    </div>
    <br>

    <div class="mb-2">
        Tags:&nbsp;
        {% for tag in entry.tags %}
            <a href="{{ url_for('read_entries', tag_name=tag.name) }}">{{ tag.name }}</a>&nbsp;
        {% endfor %}
    </div>
</div>

{% endblock %}